<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ETA_DB_V1.Properties.Settings.ETA_BD" connectionString="Data Source=DESKTOP-PO14I2G\ETA;Initial Catalog=master;Persist Security Info=True;User ID=sa;Password=Viisoara2020#" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>